/*  */
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(206, 207, 204);
}
/* Navigation Bars CSS */
.nav{
    width: 100vw;
    height: 8vh;
    background-color:#4bca49;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: rgb(44, 87, 48);
}
.menu a{
    text-decoration: none;
    margin-right: 20px;
    color: white;
}
.s-btn{
    width: 20px;
}
.search-img{
    width: 20px;
}
.side{
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 90vh;
    background-color: #b4e4b3;
    position: fixed;
}
.categories{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.categories button{
    color: white;
    background-color: #4bca49;
    height: 22px;
    border: none;
    border-radius: 5px;
}